* {
  font-family: "PP Editorial Old", "Times New Roman";
  font-size: 20px;
  color: #000000;
  box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
}

button {
  border: solid 1px #000000;
  background: #ffffff;
  border-radius: 100px;
  height: 50px;
}

/* button:hover {
  background: #000000;
  color: #ffffff;
} */

h2 {
  font-size: 60px;
  font-style: italic;
  margin: 0;
}

h3 {
  font-size: 40px;
  font-style:italic;
  margin: 0;
  font-weight: 400;
}

a,
button,
.selected_container p {
  font-family: "poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.claim_container {
  padding: 100px 0;
}

/* LANDING_CONTAINER */

.landing_container {
  height: 100vh;
  padding: 0 8vw;
  display: flex;
  flex-direction: column;
}

.video_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /*Set the width of the video container to fill the screen */
  height: 100vh; /* Set the height of the video container to fill the screen */
  z-index: -1; /* Set a lower z-index value to place the video container behind the other divs */
  overflow: hidden; /* Hide the overflow of the video container */
}

.video_container video {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the video horizontally and vertically */
  min-width: 100%;
  min-height: 100%;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

/* Nav Bar */
#toggle {
  display: none;
}

.nav nav {
  flex: 0 0 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.selected_container a,
.nav nav a {
  border: solid 1px #000000;
  background: #ffffff;
  border-radius: 100px;
  width: 150px;
  min-width: 90px;
  height: 50px;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;
}
.selected_container a:hover,
.nav nav a:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
  /* border: solid 1px #ffffff; */
}

/* Landing Stuff */
.landing_stuff {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_stuff img {
  transform: translateY(-5vh);
   width: 400px;
   z-index: 1;
}

.landing_stuff img:hover {
  filter: invert(100%);
}

.landing_stuff.img:hover + .navbar.a {
  background: transparent;
  border: solid 1px #ffffff;
  color: #ffffff;
}

/* STATEMENT CONTAINER */
.statement_container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr auto auto auto 1fr;
  
}

.statement_container h2 {
  grid-row: 2;
  grid-column: 2/10;
}

.statement_container h3 {
  grid-row: 3;
  grid-column: 3/10;
}

.statement_container button {
  grid-row: 4;
  grid-column: 3/10;
  width: 400px;
  margin-top: 15px;
}

/* CLAIM CONTAINER */
.claim_container {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.claim {
  display: flex;
  gap: 10vw;
  padding: 0 8vw;
}

.claim button {
  flex: 1 0 250px;
}

.claim h3 {
  flex: 2;
  font-size: 30px;
}

/* SELECTED CONTAINER */
.selected_container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

.selected_container p {
  margin-bottom: 15px;
}

.selected_container a {
  width: 300px;
  position: absolute;
  bottom: 8vh;
}

.image_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vH;
  
  overflow: hidden;
  position: relative;
  padding: 0 8vw 5vh;
}

.image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2vw;
}

/* TEAM HEADER CONTAINER */
.team_header_container {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr auto auto auto 0.5fr;
}

.team_header_container h2 {
  grid-row: 2;
  grid-column: 3/10;
}

.team_header_container h3 {
  grid-row: 3;
  grid-column: 4/10;
}

.team_header_container p {
  font-size: 25px;
  grid-row: 4;
  grid-column: 4/10;
}

/* ACCORDION CONTAINER TEAM MEMBERS */
.team_members_container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  grid-row: 20/21;
  grid-column: 1/10;
}

.accordion {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  width: 90%;
}

.accordion p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.accordion-title {
  position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* .accordion-title span {
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
} */

.accordion-content {
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}

.accordion {
  flex-direction: column;
  height: auto;
} 

.accordion-title,
.accordion-select  {
  background-color: #ffffff;
  color: #7f8787;
  width: 100%;
  height: 80px;
  font-size: 15px;
}

.accordion-title {
  padding-left: 10vw;
  border-top: solid 1px #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-select {
  margin-bottom: -80px;
  margin-right: 0;
  
}

/* .accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
  background-color: #ffffff;
}  */

.accordion-title p  {	
  /* transform: rotate(0deg);
  -ms-writing-mode: lr-tb;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); */
  line-height: 59px;
} 

.accordion-content {
  background-color: #ffffff;
  color: #7f8787;
  height: 400px;
  margin-bottom: -400px;
  margin-right: 0;
  padding: 10px 0px 30px 0px;
  width: 100%;
  display: flex;
} 

.accordion-content p {
  margin: 0 150px 0 20px;
}

.profilepic {
  width: auto;
  height: 360px;
  margin-left: 10vw;
  border-radius: 12px;
}

/* CONTACT CONTAINER */
.contact_container {
  height: 93vh;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 2fr auto 3fr auto 1fr;
  background: #000000;
}

.contact_container h2 {
  grid-row: 2;
  grid-column: 2/10;
  color: #ffffff;
}

.contact_rows {
  grid-column: 5/10;
  grid-row: 4;
  display: flex;
  flex-direction: column;
}

.contact_singlerow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: dashed 1px #ffffff;
    padding-right: 5vw;
}

.contact_singlerow p,
.contact_singlerow a {
  color: #ffffff;
}

.contact_lastrow {
    border-bottom: dashed 1px #ffffff;
}

/* IMPRESSUM CONTAINER */
.impressum_container {
  flex: 0 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background: #000000;
}

.impressum_container p {
  margin: 3vw;
  color: #ffffff;
}

/* .impressum_container a {
  margin: 3vw;
  color: #ffffff;
} */

@media only screen and (max-width: 1350px) {
.claim {
  flex-direction: column;
}
.claim button {
  flex: 1 0 50px;
}
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 30px;
  }

  .landing_stuff img {
    width: 300px;
  }

  h3 {
    font-size: 20px;
  }

  .statement_container {
    height: 50vh;
  }

  .statement_container h3 {
    grid-column: 2/10;
  }

  .statement_container button {
    width: 200px;
  }

  .team_header_container h2,
  .team_header_container h3 {
    grid-column: 3/9;
  }

  .team_header_container p {
    grid-column: 3/9;
    font-size: 20px;
    margin: 4px;
  }

  .accordion-title {
    padding-left: 30px;
  }

  .accordion-content {
    flex-direction: column;
    height: 400px;
    margin-bottom: -400px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    gap: 8px;
  }

  .accordion-content p {
    margin: 25px 0 0 0;
  }

  .profilepic {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .selected_container a {
    width: 70%;
  }

  .contact_rows {
    grid-column: 1/10;
  }

  .contact_singlerow {
    padding-left: 5vw;
  }

  .impressum_container p {
    font-size: 10px;
  }

  .contact_container h2 {
    text-align: center;
    grid-column: 1/10;
  }

  .member-job {
    display: none;
  }

  #image_container_team {
    height: 50vh;
  }


  /* HAMBURGER */
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 4em;
    height: 45px;
    z-index: 5;
    
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #000000;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 4;
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .nav nav a {
    border: none;
    width: auto;
  }

  .nav nav a:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  nav {
    flex-direction: column;
    text-align: left;
    margin-left: 25%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: #000000;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }

  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }

  #toggle:checked + .hamburger {
    position: fixed;
  }
}