* {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  h2 {
    font-size: 60px;
    font-style: italic;
    margin: 0;
  }
  
  /* NAV BAR */
.nav {
  z-index: 4;
}

#toggle {
  display: none;
}

  .nav nav {
    flex: 0 0 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    padding: 0 8vw;
  }
  
  .nav nav a {
    border: solid 1px #ffffff;
    background: transparent;
    border-radius: 100px;
    width: 150px;
    min-width: 90px;
    height: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selected_container a:hover,
  .nav nav a:hover {
    background-color: #000000;
    color: #ffffff;
    border: none;
  }



/* HOVER GALLERY */
  #gallery {
    position: absolute;
    top: 0;
    left: 0;
  }

  .tile {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tile > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 1;
    transition: opacity 800ms ease,
        transform 800ms ease;
  }

  .tile:hover > p {
    opacity: 1;
    transform: scale(1.4);
  }

  .tile p {
    font-size: 80px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: opacity 800ms ease,
        transform 800ms ease;
  }

  .tile a {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  @media only screen and (max-width: 600px) {
    .tile {
      height: 50vh;
    }

    .tile p {
      opacity: 1;
      font-size: 40px;
    }

    /* HAMBURGER */
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 4em;
    height: 45px;
    z-index: 5;
    
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #000000;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .nav nav a {
    border: none;
    width: auto;
  }

  .nav nav a:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  nav {
    flex-direction: column;
    text-align: left;
    margin-left: 25%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: #000000;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }

  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }

  #toggle:checked + .hamburger {
    position: fixed;
  }
  }